body {
    background: #dcdcdc;
    font-family: Helvetica, Arial, sans-serif;
}

select {
    line-height: 41px;
    padding: 0 30px 0 15px;
    height: 43px;
    border-radius: 0;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #c7d0d9;
    position: relative;
    background: #fff no-repeat 92%;
    min-width: 150px;
}


.angle-down{
    position: relative;
    left: 85%;
    top: -28px;
    pointer-events: none;
}

.orange {
    color: orange;
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    padding-top: 10px;
    background: #dcdcdc;
}
.header__sort-label,
.header__date-label{
    display: inline-block;
    color: #818d99;
    font-weight: 700;
}
.header___dropdown-group{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.header___dropdown-group.left{
    margin-left: 16px;
}
.header___dropdown-group.right{
    margin-right: 18px;
}
.header__dropdown {
    display: inline-block;
    background: white;
    height: 40px;
    cursor: pointer;
}

/* Page content */

.content {
    margin-top: 86px;
}


.tour-container {
    background: white;
    margin: 20px 10px 0 10px;
}

.tour-img img {
    width: 100%;
}

.tour-infos {
    position: relative;
    padding: 15px;
}

.tour-infos__discount {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 45px 45px 0;
    border-color: transparent #e74c3c transparent transparent;
    position: absolute;
    right: 0px;
    top: -4px;
    cursor: help;
}

.tour-infos__discount p {
    text-align: center;
    top: -2px;
    left: 12px;
    position: relative;
    width: 45px;
    color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 12px;
}

.tour-infos__name {
    font-size: 16px;
    line-height: 19px;
    max-height: 38px;
    margin-bottom: 6px;
}

.tour-infos__stars {
    display: inline;
}

.tour-infos__reviews {
    display: inline;
    font-size: 12px;
    color: #818d99;
    line-height: 12px;
    margin-left: 4px;
}

.tour-infos__description {
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
}

.tour-infos__details dl {
    max-height: 500px;
    padding-bottom: 10px;
    transition: max-height .25s ease-in;
    margin: 12px 0 0;
}

.tour-infos__details dt {
    margin-top: 12px;
    width: 37%;
    float: left;
    margin: 0 0 4px;
    font-size: 10px;
    text-transform: uppercase;
    color: #818d99;
    vertical-align: top;
}

.tour-infos__details dd {
    margin-top: 12px;
    width: 63%;
    display: inline-block;
    margin: 0 0 4px;
    vertical-align: top;
    font-size: 12px;
}

.tour-offer {
    padding: 0 15px 15px 15px;
}

.tour-offer__container {
    display: flex;
    justify-content: space-between;
}

.tour-offer__days, .tour-offer__from {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
}

.tour-offer__days dt, .tour-offer__from dt {
    font-weight: 100;
}

.tour-offer__days dd, .tour-offer__from dd {
    font-weight: bold;
    font-size: 17px;
    margin-inline-start: 0px
}

.tour-offer__from {
    text-align: right;
}

.tour-offer__spaces {
    max-height: 45px;
    overflow: hidden;
    margin-bottom: 15px;
}

.tour-offer__space {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 15px;
}

.tour-offer__button {
    color: #fff;
    background-color: #409cd1;
    border: 0;
    width: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    padding: 8px;
    border-radius: 1px;
    margin-left: 48%;
    cursor: pointer;
}

/* Loader */

.overlay {
    position: fixed;
    display:flex;
    justify-content:center;
    align-items:center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
}

.lds-circle {
    position: fixed;
    z-index: 10;
}

.lds-circle>div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    background: #fff;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

/* Desktop */
@media screen and (min-width: 768px) {
    .header {
        text-align: right;
        left: 2px;
        padding: 10px 10px;
        display: block;
    }
    .header__dropdown {
        width: 200px;
    }
    .header__dropdown:before {
        width: 200px;
    }
    .header___dropdown-group{
        display: inline;
    }
    .angle-down {
        left: -40px;
        top: -1px;
    }
    .content {
        margin-top: 60px;
    }
    .tour-container {
        display: flex;
        justify-content: space-between;
    }
    .tour-img img {
        object-fit: cover;
        width: 230px;
        height: 230px;
        margin-bottom: -4px;
    }
    .tour-infos {
        width: 70%;
    }
    .tour-infos__discount {
        right: -389px;
        top: 0px;
    }
    .tour-infos__details dt {
        width: 20%;
    }
    .tour-offer {
        width: 30%;
        padding: 0 33px;
    }
    .tour-offer__container {
        flex-direction: column;
        max-height: 120px;
    }
    .tour-offer__days {
        flex-direction: row;
        justify-content: center;
        flex-direction: row;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        position: relative;
        width: 100%;
        top: 60px;
        text-align: center;
        padding: 12px 0 16px;
    }
    .tour-offer__days dt {
        text-transform: lowercase;
        font-weight: bold;
        position: relative;
        left: 30px;
    }
    .tour-offer__days dd {
        margin-left: 5px;
        position: relative;
        left: -30px;
    }
    .tour-offer__from {
        position: relative;
        bottom: 63px;
        right: -12px;
    }
    .tour-offer__spaces{
        max-height: 28px;
        margin-top: 15px;
    }
    .tour-offer__button {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
}
